*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #243972; }

.app {
  width: 100%; }

body {
  font-family: 'Poppins', sans-serif; }

.temporary {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  font-weight: 600; }

.modal--titles {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.content-width {
  width: 80%; }

.center {
  margin: 0 auto; }

.btn {
  text-decoration: none;
  padding: 2px auto;
  transition: all .2s; }
  .btn--add-stack {
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    box-shadow: 0 4px 5px 0 rgba(50, 50, 50, 0.75);
    transition: all .2s;
    padding: 4px 8px;
    cursor: pointer; }
    .btn--add-stack:hover {
      background-color: #fff;
      color: #091e36; }
  .btn--stackchoice {
    display: inline-block;
    border: 2px solid red;
    padding: 4px 8px;
    font-size: 1.5rem;
    color: red;
    cursor: pointer; }
    .btn--stackchoice:hover {
      color: #fff;
      background-color: red; }
    .btn--stackchoice:not(:last-child) {
      margin-right: 3rem; }
    .btn--stackchoice-active {
      color: #fff;
      background-color: red; }
  .btn__group--modal {
    position: relative;
    padding: 3rem 0;
    margin-left: 3rem; }
  .btn--modal {
    font-size: 1.7rem;
    line-height: 2rem;
    border: 3px solid #4a4a4a;
    color: #4a4a4a;
    font-weight: 600;
    padding: 5px 6px;
    cursor: pointer;
    box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.75); }
    .btn--modal:not(:last-child) {
      margin-right: 2rem; }
    .btn--modal:hover {
      background-color: #4a4a4a;
      color: #d8d8d8; }
  .btn--navbar {
    padding: 2px 2px;
    display: inline-block;
    color: #9dabc1;
    font-size: 1.5rem;
    font-weight: 400;
    height: 3rem;
    line-height: 3rem;
    transition: all .2s; }
    .btn--navbar:not(:first-child) {
      margin-left: 2.4rem; }
    .btn--navbar:hover {
      color: #faffb0; }
    .btn--navbar--active {
      border-top: 1px solid #f6ff6f;
      color: #f6ff6f;
      padding-top: 1px; }
  .btn--add-card {
    margin-top: 10px;
    font-size: 1.7rem;
    line-height: 2rem;
    border: 3px solid #9dabc1;
    color: #9dabc1;
    font-weight: 600;
    padding: 5px 6px;
    background-color: transparent;
    transition: all .2s;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(50, 50, 50, 0.75); }
    .btn--add-card:hover {
      background-color: #9dabc1;
      color: #243972; }
  .btn-row {
    padding: 10px 10px;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    display: inline-block;
    font-size: 2rem;
    line-height: 1rem;
    color: #243972; }
    .btn-row-delete:hover {
      color: red; }
    .btn-row-edit:hover {
      color: green; }
  .btn--stack {
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    font-size: 1.5rem;
    width: 6rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    box-shadow: 0 4px 5px 0 rgba(50, 50, 50, 0.75);
    transition: all .2s; }
    .btn--stack:first-child {
      margin-right: 2rem; }
    .btn--stack:hover {
      background-color: #fff;
      color: #091e36; }
  .btn-group--stack {
    width: 15rem;
    margin: 4.5rem auto 0 auto;
    text-align: center; }

.modal {
  border-radius: 8px;
  width: 60rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white; }
  .modal-background {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh; }
  .modal__add-stack {
    width: 40rem;
    text-align: left; }
    .modal__add-stack--titles {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      margin-left: 3rem; }
    .modal__add-stack--input {
      width: 30rem;
      height: 4rem;
      margin-left: 3rem;
      outline: none;
      border: none;
      font-size: 3rem;
      border-bottom: 2px solid #243972; }
  .modal__front, .modal__back {
    width: calc((100% - (2*3rem) - 4rem) / 2);
    position: relative;
    margin-top: 3rem;
    display: inline-block; }
    .modal__front--textarea, .modal__back--textarea {
      width: 100%;
      height: 12rem;
      resize: none;
      padding: 1rem; }
  .modal__front {
    margin-right: 4rem;
    margin-left: 3rem; }

.navbar {
  position: relative;
  margin: 1.5rem auto;
  box-sizing: border-box;
  border-bottom: 1px solid #9dabc1;
  height: 4rem;
  padding-bottom: 1rem; }
  .navbar::after {
    content: "";
    display: table;
    clear: both; }
  .navbar__left {
    float: left; }
  .navbar__right {
    float: right; }

.stack {
  display: inline-block;
  border: 4px solid red;
  padding: 3rem 3rem 3rem 3rem;
  margin-top: 3rem;
  transition: all .2s;
  text-align: left; }
  .stack:not(:last-child) {
    margin-right: 2rem; }
  .stack:hover {
    box-shadow: 5px 5px 0px red;
    transform: translate(-2px, -2px); }
  .stack__text {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    color: #fff; }
    .stack__text--category {
      font-weight: 600;
      text-decoration: underline;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 1.5rem; }
    .stack__text--count {
      color: #9dabc1;
      font-weight: 400; }

.flashcardTable {
  width: 80rem;
  position: relative;
  margin-top: 30rem;
  left: 50%;
  transform: translate(-50%, -25rem); }
  .flashcardTable__row {
    color: #243972;
    padding: 5px 10px;
    overflow-wrap: break-word; }
    .flashcardTable__row:not(:first-child) {
      margin-top: 3px; }
    .flashcardTable__row input {
      background-color: transparent;
      border: 1px solid transparent; }
      .flashcardTable__row input:focus {
        outline: none; }
    .flashcardTable__row:nth-child(odd) {
      background-color: #9dabc1; }
    .flashcardTable__row:nth-child(even) {
      background-color: #bcc6d5; }
    .flashcardTable__row--content--front {
      width: 40%;
      display: inline-block;
      font-size: 1.5rem; }
    .flashcardTable__row--content--back {
      width: 49%;
      display: inline-block;
      font-size: 1.5rem; }
    .flashcardTable__row--header {
      font-size: 4rem;
      border-bottom: 4px solid red;
      color: #fff;
      padding: 5px 10px; }
      .flashcardTable__row--header--front {
        width: 40%;
        display: inline-block; }
      .flashcardTable__row--header--back {
        width: 40%;
        display: inline-block; }

.stackChoiceContainer {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.dashboard {
  margin: 1.5rem auto;
  max-width: 80%;
  text-align: center; }
