.btn {
    &--navbar {
        display: inline-block;
        color: $color-light-blue;
        font-size: 1.5rem;
        text-decoration: none;
        height: 3rem;
        // border: 1px solid red;
        line-height: 3rem;
        transition: all .2s;
        &:not(:first-child) {
            margin-left: 2.4rem;
        }
        &:hover {
            color: $color-light-yellow;
        }
    }
}