.flashcardSummary {
    height: 25rem;
    margin: 3rem auto;
    width: 90%;
    &__row {
        &--header {
            font-size: 2rem;
            color: transparent;
            &--title {
                // color: transparent;
                display: inline-block;
                border: 1px solid white;
                padding: 2px 10px;
                &:not(:nth-child(2)) {
                    width: 4rem;
                    text-align: center;
                }
                &:nth-child(2) {
                    width: calc(100% - 4 * 4rem);
                }
            }
        }
    }
}

.show {
    color: $color-white;
}

.tick {
    color: $color-green;
}

.cross {
    color: $color-red;
}
