.flashcardTable {
    /* font-family: 'Varela Round', sans-serif; */

    .edit-page__wrapper {
      display: grid;
      grid-template-columns: 30% 35%;
      justify-content: center;

      /* maybe don't care
      .front { // flashcardTable__row--header front
        width: 26rem;
      }
      .back { // flashcardTable__row--header back
        width: 24rem;
      } */

      .nested-grid { // edit n delete buttons
        display: grid;
        grid-template-columns: 1fr 8rem;
        align-items: center;
      }
    }

    &__row {
        input {
            background-color: transparent;
            border: 1px solid transparent;

            &:focus {
                outline: none;
            }
        }

        // header (non-content)
        &--header {
            font-size: $row-header-font;
            border-bottom: 4px solid $color-red;
            color: $color-white;
            padding: 5px 10px;
        }
        // content (non-header)
        &--content {
            padding: 1rem;
            font-size: $row-content-font;

            &:nth-child(odd) {
                background-color:$color-light-blue;
            }
            &:nth-child(even) {
                background-color: lighten($color-light-blue, 10%);
            }
        }
    }
    &-add-delete {
        text-align: center;
        margin-top: 1rem;
    }
}
