.flashcard-row {
  text-align: center;
}

.flashcardSummary {
    height: 25rem;
    margin: 3rem auto;
    width: 90%;
    border-collapse: collapse;
    font-size: 2rem;
    &__row {
        &--header {
            color: transparent;
            &--title {
                border: 1px solid white;
                padding: 2px 10px;
                &:not(:nth-child(2)) {
                    width: 4rem;
                    text-align: center;
                }
                &:nth-child(2) {
                    width: calc(100% - 4 * 4rem);
                }
            }
        }
    }
}

.show {
    color: $color-white;
}

.tick {
    color: $color-green;
}

.cross {
    color: $color-red;
}

// tablet (768px) to mobile L (425px)
@media (max-width: 701px) {
  .content-width{
    width: 100%;
  }

  .flashcardSummary {
    width: 100%;
  }

  .fa-caret-right {
    margin-right: 1.5rem;
  }

  .fa-caret-left {
    margin-left: 1.5rem;
  }
}

// tablet (768px) to mobile L (425px)
@media (max-width: 501px) {
  .flashcardSummary {
    font-size: 1.6rem;
  }

  .btn--flashcard {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.6rem;
  }
}

// Mobile M (375px)
@media (max-width: 376px) {
  .flashcard {
    width: 60%;
  }
}
