.navbar {
    position: relative;
    // width: 80%;
    margin: 0 auto 1.5rem auto;
    box-sizing: border-box;
    // border: 1px solid black;
    border-bottom: 1px solid $color-light-blue;
    height: 4rem;
    padding: 1rem auto;
    @include clearfix;
    &__left {
        float: left;
    }
    &__right {
        float: right;
    }
}