// COLORS
$color-dark-blue: #091e36;
$color-medium-blue: #243972;
$color-light-blue: #9dabc1;
$color-medium-yellow: #f6ff6f;
$color-light-yellow: #faffb0;
$color-white: #fff;
$color-red: rgb(255, 0, 0);
// DIMENSIONS
$stack-width: 20rem;
$stack-height: 22rem;
$table-width: 80rem;
$modal-width: 60rem;
$modal-width-small: 40rem;
$modal-gutter: 4rem;
$modal-padding-horizontal: 3rem;
$modal-padding-vertical: 3rem;

// FONTS
$row-header-font: 4rem;
$row-content-font: 1.5rem;