.studypage {
    &__column {
        margin: 2rem auto;
        max-width: 80rem;
    }
    &__btn-group {
        width: 30%;
        margin: 2rem auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        @media ( max-width: 950px ) {
                width: 40%;
        }

        @media ( max-width: 750px ) {
                width: 50%;
        }

        @media ( max-width: 550px ) {
                width: 60%;
        }

        @media ( max-width: 450px ) {
                width: 70%;
        }
    }
}
