*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // sets 1rem to 10px;
}

body {
    background-color: $color-medium-blue;
}

.app {
    width: 100%;
}