// for navbar in study session
.navbar-width {
    width: 94%;
}

// for content (everything below navbar) in study page
.study-page--width {
    width: 85%;
}

// for content in edit page
.edit-page--width {
    width: 85%;
}

.center {
    margin: 0 auto;
}
